# Requirements for building the `staged-script` documentation.

sphinx<8.0.0
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-mermaid
sphinxcontrib-programoutput
sphinxcontrib-spelling
